.saldo {
  display: flex;
  gap: 20px;
}

p-card {
  width: 96%;
  cursor: pointer;

  .p-card .p-card-content {
    padding: 0 !important;
  }
}

p-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.conteudoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
