<div class="conteudo">
  <div *ngIf="filtro === ''">
    <p-chart type="bar" [data]="data2" [options]="options"></p-chart>
  </div>

  <div class="p-chart-container" *ngIf="filtro === 'receita'">
    <p-chart type="doughnut" [data]="data" [options]="options" class="p-chart">
    </p-chart>
    <div class="centered-text">
      <h1 *ngIf="filtro === 'receita'"> R$ {{ somaReceita | number : "1.2-2" }}
      </h1>
      <h2>Total</h2>
    </div>
  </div>

  <div class="p-chart-container" *ngIf="filtro === 'despesa'">
    <p-chart type="doughnut" [data]="data" [options]="options" class="p-chart">
    </p-chart>
    <div class="centered-text">
      <h1 *ngIf="filtro === 'despesa'"> R$ {{ somaDespesa | number : "1.2-2" }}
      </h1>
      <h2>Total</h2>
    </div>
  </div>
</div>
