<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">
      <span>Transações</span>
    </mat-toolbar>

    <app-tabela [contatos]="contatos" (edit)="onEdit($event)" (remove)="onRemove($event)"
      (addDespesa)="onAdd('despesa')" (addReceita)="onAdd('receita')"></app-tabela>

  </mat-card-content>
</mat-card>


<mat-card *ngFor="let item of contatos">
  <mat-card-content>
    <div >
      <p>{{item.nome}}</p>
      <p>{{item.telefone}}</p>
    </div>
  </mat-card-content>
</mat-card>
