<div class="card">
  <p-table [value]="contatos" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code" style="width:20%">Situação <p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:20%">Categoria <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="category" style="width:20%">Valor <p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="quantity" style="width:20%">Data <p-sortIcon field="quantity"></p-sortIcon></th>
        <!-- <th pSortableColumn="quantity" style="width:20%">Tipo <p-sortIcon field="quantity"></p-sortIcon></th> -->
        <th style="width:20%">
          <p-button icon="pi pi-plus" [matMenuTriggerFor]="menu" [rounded]="true"></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <ng-container *ngIf="product.situacao === 'Efetivado'; else pendente">
            <i class="pi pi-check-circle" style="font-size: 1.2rem" pTooltip="Receita"></i>
          </ng-container>
          <ng-template #pendente>
            <i class="pi pi-clock" style="font-size: 1.2rem" pTooltip="Pendente"></i>
          </ng-template>
        </td>
        <td>{{product.categoria}}</td>
        <td>
          <ng-container *ngIf="product.tipo === 'despesa'; else receita">
            <div class="red">R$ -{{ product.valor | number: '0.2' }}</div>
          </ng-container>
          <ng-template #receita>
            <div class="green">R$ +{{ product.valor | number: '0.2' }}</div>
          </ng-template>
        </td>
        <td>{{product.data}}</td>
        <!-- <td>{{product.tipo}}</td> -->
        <td style="display: flex;"><p-button icon="pi pi-pencil" [rounded]="true" [text]="true"
            (click)="editandoTransacao(product)">
          </p-button>
          <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger "
            (click)="deletandoTransacao(product.key)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="adicionarTransacao('despesa')">
    <mat-icon>add</mat-icon>
    <span>Adicionar Despesa</span>
  </button>
  <button mat-menu-item (click)="adicionarTransacao('receita')">
    <mat-icon>add</mat-icon>
    <span>Adicionar Receita</span>
  </button>
