<mat-table [dataSource]="dados">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
    <mat-cell *matCellDef="let despesa"> {{despesa.id}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <!-- Descricao Column -->
  <ng-container matColumnDef="descricao">
    <mat-header-cell *matHeaderCellDef> descricao </mat-header-cell>
    <mat-cell *matCellDef="let despesa"> {{despesa.descricao | titlecase}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      <!-- {{getCustoTotal()}}  -->
    </mat-footer-cell>
  </ng-container>


  <!-- categoria Column -->
  <ng-container matColumnDef="categoria">
    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let despesa">
      {{despesa.categoria | titlecase}}
      <br>
      {{despesa.descricao | titlecase}}
    </mat-cell>

    <mat-footer-cell *matFooterCellDef>
      <!-- {{getCustoTotal()}}  -->
    </mat-footer-cell>
  </ng-container>
  <!-- tipo Column -->
  <ng-container matColumnDef="tipo">
    <mat-header-cell *matHeaderCellDef> tipo </mat-header-cell>
    <mat-cell *matCellDef="let despesa"> {{despesa.tipo | titlecase}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      <!-- {{getCustoTotal()}}  -->
    </mat-footer-cell>
  </ng-container>
  <!-- valor Column -->
  <ng-container matColumnDef="valor">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let transacao"
      [ngClass]="{'green': transacao.tipo === 'receita', 'red': transacao.tipo === 'despesa'}">

      R$&nbsp;
      <span *ngIf="transacao.tipo === 'receita'">+</span>
      <span *ngIf="transacao.tipo === 'despesa'">-</span>
      {{transacao.valor | number : '1.2-2' }}
    </mat-cell>

    <mat-footer-cell *matFooterCellDef>
    </mat-footer-cell>
  </ng-container>
  <!-- data Column -->
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let despesa"> {{despesa.data | date:'dd/MM/yyyy'}} </mat-cell>
    <!-- <td mat-cell *matCellDef="let despesa"> {{data | date : "fullDate"}}
    </td> -->
    <mat-footer-cell *matFooterCellDef>
      <!-- {{getCustoTotal()}}  -->
    </mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="situacao">
    <mat-header-cell *matHeaderCellDef> Situação </mat-header-cell>

    <mat-cell *matCellDef="let despesa">
      <ng-container *ngIf="despesa.situacao === 'nao efetivado'; else efetivadoBlock">
        <mat-icon matTooltip="Não efetivado">schedule</mat-icon>
      </ng-container>
      <ng-template #efetivadoBlock>
        <mat-icon matTooltip="Efetivado">check_circle</mat-icon>
      </ng-template>
    </mat-cell>

    <!-- <td mat-cell *matCellDef="let despesa"> {{data | date : "fullDate"}}
    </td> -->
    <mat-footer-cell *matFooterCellDef>
      <!-- {{getCustoTotal()}}  -->
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let transacao" class="action-column">
      <button mat-icon-button color="primary" (click)="editandoTransacao(transacao)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletandoTransacao(transacao.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'read': row.tipo === 'despesa', 'greean' : row.tipo === 'receita' }"></mat-row>
</mat-table>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="adicionarTransacao('despesa')">
    <mat-icon>add</mat-icon>
    <span>Adicionar Despesa</span>
  </button>
  <button mat-menu-item (click)="adicionarTransacao('receita')">
    <mat-icon>add</mat-icon>
    <span>Adicionar Receita</span>
  </button>
