<p-table
  [value]="contatos"
  [tableStyle]="{ 'min-width': '50rem' }"
  class="responsive-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Situação</th>
      <th>Razão</th>
      <th>Categoria</th>
      <th>Item</th>
      <th>Valor</th>
      <th>Total</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td style="padding-left: 40px">
        <ng-container *ngIf="product.situacao === true; else pendente">
          <i
            class="pi pi-check-circle green"
            style="font-size: 1.2rem"
            pTooltip="Efetivado"
          ></i>
        </ng-container>
        <ng-template #pendente>
          <i
            class="pi pi-clock orange"
            style="font-size: 1.2rem"
            pTooltip="Pendente"
          ></i>
        </ng-template>
      </td>
      <td>
        <p>{{ product.fornecedor.razao | titlecase }}</p>
      </td>
      <td>
        <p>{{ product.categoria | titlecase }}</p>
        {{ product.descricao }}
      </td>
      <td>{{ product.peca.item | titlecase }} ({{ product.quantidade }})</td>
      <td>
        <ng-container *ngIf="product.tipo === 'despesa'; else receita">
          <div class="red">R$ -{{ product.valor | number : "0.2" }}</div>
        </ng-container>
        <ng-template #receita>
          <div class="green">R$ +{{ product.valor | number : "0.2" }}</div>
        </ng-template>
      </td>
      <td>
        {{ product.valorTotal | number : "0.2" }}
      </td>
      <td>{{ product.data }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          (click)="abrindoModal('', product)"
        >
        </p-button>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger "
          (click)="confirm($event, product.id,product.quantidade, product.peca.id, product.tipo)"
        >
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
