.red {
  color: red;
}

.green {
  color: rgb(0, 171, 0);
}

.orange {
  color: orange;
}

.categoria {
  display: flex;
  flex-direction: column;
}

.responsive-table {
  width: 100%;
}

.responsive-table th,
.responsive-table td {
  width: auto;
  height: auto !important;

}

td {}

@media only screen and (max-width: 1300px) {
  .responsive-table {
    max-width: 90%;
  }
}
