<div class="body">
  <div class="linha">
    <div class="header">
      <h1
        [ngClass]="{
          'opcoes-selecionadas': true,
          transacoes: opcoesSelecionadas === 'transacoes',
          receita: opcoesSelecionadas === 'receita',
          despesa: opcoesSelecionadas === 'despesa'
        }"
      >
        {{ opcoesSelecionadas | titlecase }}
      </h1>
    </div>
  </div>

  <div class="linha" *ngIf="opcoesSelecionadas === 'transacoes'">
    <div class="card-grafico-rosca1">
      <mat-card>
        <mat-card-header>
          <form [formGroup]="form" class="form">
            <p-calendar
              view="month"
              formControlName="mes"
              dateFormat="MM"
              dataType="string"
              [readonlyInput]="true"
              class="date"
              (onSelect)="onDateSelect($event)"
              [inputStyle]="customInputStyle"
            >
            </p-calendar>
          </form>
        </mat-card-header>
        <app-tabela
          [contatos]="contatos"
          [valorSelecionado]="valorSelecionado"
          filtro=""
          (remove)="onRemove($event)"
          (open)="showModal($event)"
        ></app-tabela>
      </mat-card>
    </div>

    <div class="card-grafico-rosca2">
      <div class="cards-saldo">
        <div class="card-saldo">
          <app-saldo
            [titulo]="'Saldo Atual'"
            [soma]="saldoMes"
            [icone]="'pi pi-wallet'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Receitas'"
            [soma]="somaReceita"
            [icone]="'pi pi-arrow-up'"
            [color]="'success'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Despesas'"
            [soma]="somaDespesa"
            [icone]="'pi pi-arrow-down'"
            [color]="'danger'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Balanço Mensal'"
            [soma]="saldoPrevisto"
            [icone]="'pi pi-wallet'"
            [color]="'warning'"
          ></app-saldo>
        </div>
      </div>
    </div>
  </div>

  <div class="linha" *ngIf="opcoesSelecionadas === 'receita'">
    <div class="card-grafico-rosca1">
      <mat-card>
        <mat-card-header>
          <form [formGroup]="form" class="form">
            <p-calendar
              view="month"
              formControlName="mes"
              dateFormat="MM"
              dataType="string"
              [readonlyInput]="true"
              class="date"
              (onSelect)="onDateSelect($event)"
              [inputStyle]="customInputStyle"
            >
            </p-calendar>
          </form>
        </mat-card-header>
        <app-tabela
          [contatos]="contatos"
          [valorSelecionado]="valorSelecionado"
          filtro="receita"
          (remove)="onRemove($event)"
          (open)="showModal($event)"
        ></app-tabela>
      </mat-card>
    </div>

    <div class="card-grafico-rosca2">
      <div class="cards-saldo">
        <div class="card-saldo">
          <app-saldo
            [titulo]="'Receitas Recebidas'"
            [soma]="receitaRecebidas"
            [icone]="'pi pi-arrow-up'"
            [color]="'success'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Receitas Pendentes'"
            [soma]="receitaPendente"
            [icone]="'pi pi-arrow-down'"
            [color]="'success'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Total'"
            [soma]="somaReceita"
            [icone]="'pi pi-wallet'"
            [color]="'success'"
          ></app-saldo>
        </div>
      </div>
    </div>
  </div>

  <div class="linha" *ngIf="opcoesSelecionadas === 'despesa'">
    <div class="card-grafico-rosca1">
      <mat-card>
        <mat-card-header>
          <form [formGroup]="form" class="form">
            <p-calendar
              view="month"
              formControlName="mes"
              dateFormat="MM"
              dataType="string"
              [readonlyInput]="true"
              class="date"
              (onSelect)="onDateSelect($event)"
              [inputStyle]="customInputStyle"
            >
            </p-calendar>
          </form>
        </mat-card-header>
        <app-tabela
          [contatos]="contatos"
          [valorSelecionado]="valorSelecionado"
          filtro="despesa"
          (remove)="onRemove($event)"
          (open)="showModal($event)"
        ></app-tabela>
      </mat-card>
    </div>

    <div class="card-grafico-rosca2">
      <div class="cards-saldo">
        <div class="card-salado">
          <app-saldo
            [titulo]="'Despesas Pagas'"
            [soma]="despesaPagas"
            [icone]="'pi pi-arrow-up'"
            [color]="'danger'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Despesas Pendentes'"
            [soma]="despesaPendente"
            [icone]="'pi pi-arrow-down'"
            [color]="'danger'"
          ></app-saldo>
        </div>

        <div class="card-saldo">
          <app-saldo
            [titulo]="'Total'"
            [soma]="somaDespesa"
            [icone]="'pi pi-wallet'"
            [color]="'danger'"
          ></app-saldo>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [header]="formData ? 'Editando ' + formData.tipo : 'Adicionando ' + tipo"
  [(visible)]="visible"
  [modal]="true"
>
  <app-form-modal
    [formData]="formData"
    (close)="closeModal()"
    [tipo]="tipo"
  ></app-form-modal>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
