.display-flex {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.row {
  flex-direction: row;
}
