h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}


mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  transform:matrix(absolute) !important;
  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
