h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

.botaoAdd {
  position: fixed;
  right: 25px;
  bottom: 25px;

}

.mat-warn {
  color: green;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.blue {
  color: rgb(20, 20, 165);
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

a {
  height: 60px !important;
}

span {
  color: grey;
}
