<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" class="sidenav-transition">
    <p-button *ngIf="isCollapsed" icon="pi pi-angle-double-right" [rounded]="true" [text]="true"
      (onClick)="toggleMenu()"></p-button>
    <div style="display: flex; justify-content: flex-end;">
      <p-button *ngIf="!isCollapsed" icon="pi pi-angle-double-left" [rounded]="true" [text]="true"
        (onClick)="toggleMenu()"></p-button>
    </div>
    <mat-nav-list>
      <button *ngIf="isCollapsed" class="btn-collapsed" [matMenuTriggerFor]="menu"> <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="!isCollapsed" class="btn" [matMenuTriggerFor]="menu"> <mat-icon>add</mat-icon>
        Novo </button>
      <a mat-list-item [routerLink]="'dashboard'">
        <span class="entry"><span class="material-icons-outlined blue">
            home
          </span>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="'transacoes'">
        <span class="entry"> <span class="material-icons-outlined ">
            format_list_bulleted
          </span>
          <span *ngIf="!isCollapsed">Transações</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="'receitas'">
        <span class="entry"> <span class="material-icons-outlined green">
            trending_up
          </span>
          <span *ngIf="!isCollapsed">Receitas</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="'despesas'">
        <span class="entry"> <span class="material-icons-outlined red">
            trending_down
          </span>
          <span *ngIf="!isCollapsed">Despesas</span>
        </span>
      </a>
      <a mat-list-item [routerLink]="'pendentes'">
        <span class="entry"> <span class="material-icons-outlined orange">
            watch_later
          </span>
          <span *ngIf="!isCollapsed">Contas Pendentes</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="below" overlapTrigger="false">
      <button mat-menu-item (click)="showModalAdd('despesa')" class="red">
        <mat-icon color="accent">trending_down</mat-icon>
        <span class="red">Adicionar Despesa</span>
      </button>
      <button mat-menu-item (click)="showModalAdd('receita')">
        <mat-icon color="warn">trending_up</mat-icon>
        <span class="green">Adicionar Receita</span>
      </button>
    </mat-menu>
  </mat-sidenav-content>
</mat-sidenav-container>
<p-dialog [header]="formData ? 'Editando ' + formData.tipo : 'Adicionando ' + tipo" [(visible)]="visible"
  [modal]="true">
  <app-form-modal [formData]="formData" (close)="closeModal()" [tipo]="tipo"></app-form-modal>
</p-dialog>
