p-card {
  display: flex;
  margin: 2em auto;
  text-align: center;
  justify-content: center;
}

p-inputGroup {
  padding: 10px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  justify-content: center;
}

.form-array-error {
  text-align: left;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.space-switch {
  margin-left: 8px;
}
