<form [formGroup]="form" class="min-width">
  <p-iconField class="full-width">
    <p-dropdown [options]="countries" formControlName="categoria" [showClear]="false" class="full-width"></p-dropdown>

  </p-iconField>
  <small class="p-error block center" *ngIf="
      (form.get('categoria')?.invalid && form.get('categoria')?.dirty) ||
      (form.get('categoria')?.invalid && form.get('categoria')?.touched)
    ">
    Categoria é obrigatória</small>


  <p-iconField iconPosition="right">
    <p-inputIcon styleClass="pi pi-align-left" />
    <input type="text" pInputText placeholder="Descrição" formControlName="descricao" />
  </p-iconField>
  <small class="p-error block center" *ngIf="
      (form.get('descricao')?.invalid && form.get('descricao')?.dirty) ||
      (form.get('descricao')?.invalid && form.get('descricao')?.touched)
      ">
    Descrição é obrigatória</small>

  <p-iconField iconPosition="right" class="full-width">
    <p-inputNumber placeholder="0,00" formControlName="valor" mode="currency" currency="BRL" class="full-width"
      locale="pt-BR"></p-inputNumber>
  </p-iconField>

  <p-iconField>
    <p-calendar placeholder="dd/mm/yyyy" formControlName="data" dataType="string" dateFormat="dd/mm/yy" appendTo="body"
      iconDisplay="input" [showIcon]="true"></p-calendar>
  </p-iconField>
  <small class="p-error block center" *ngIf="
      (form.get('data')?.invalid && form.get('data')?.dirty) ||
      (form.get('data')?.invalid && form.get('data')?.touched)
    ">
    Data obrigatória</small>

  <p-inputGroup>
    <p class="no-margin vertical-center">{{ situacaoLabel }}</p>
    <p-inputSwitch class="space-switch vertical-center" formControlName="situacao"
      (onChange)="atualizarLabel()"></p-inputSwitch>
  </p-inputGroup>
</form>

<p-divider></p-divider>

<div class="space-between">
  <p-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
    Salvar
  </p-button>
  <p-button severity="danger" (click)="onCancel()">Cancelar</p-button>
</div>
