p-card {
  display: flex;
  margin: 2em auto;
  text-align: center;
  justify-content: center;
}

p-iconField {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
p-inputGroup {
  display: flex;
  padding-left: 13px;
}

:host ::ng-deep p-inputnumber {
  width: 100%;
}

:host ::ng-deep .p-inputnumber {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  justify-content: center;
}

.form-array-error {
  text-align: left;
}

.space-between {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.space-switch {
  margin-left: 8px;
}

::ng-deep .p-dropdown {
  width: 100%;
}
