<div class="display-flex">
  <div class="field">
    <p>Código do Pedido</p>
    <div class="value">{{ dados?.codigoPedido }}</div>
  </div>

  <div class="field">
    <p>Data</p>
    <div class="value">{{ dados?.data | date : "dd/MM/yy" }}</div>
  </div>

  <div class="field">
    <p>Situação</p>
    <div class="value">{{ dados?.situacao?.nome }}</div>
  </div>
</div>

<div class="display-flex">
  <div class="field">
    <p>Fornecedor / Cliente</p>
    <div class="value">{{ dados?.fornecedor?.nome }}</div>
  </div>

  <div class="field">
    <p>Descrição</p>
    <div class="value">{{ dados?.descricao }}</div>
  </div>
</div>
<p-divider></p-divider>

<div class="">
  <div *ngFor="let peca of dados?.pecas; let i = index">
    <div class="display-flex">
      <div class="field">
        <p>Peça</p>
        <div class="value">{{ peca.item.nome }}</div>
      </div>

      <div class="field">
        <p>Quantidade</p>
        <div class="value">{{ peca.quantidadeAdicionada }}</div>
      </div>

      <div class="field">
        <p>Valor Unitário</p>
        <div class="value">{{ peca.valorUnitario | currency : 'BRL' }}</div>
      </div>
    </div>
    <p-divider></p-divider>
  </div>
</div>

<div class="space-between">
  <p-button severity="danger" (click)="onCancel()">Cancelar</p-button>
</div>
