.body {
  position: relative;
  margin: 0px 3%;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: center;
}

:host ::ng-deep {
  .date {
    .p-inputtext {
      cursor: pointer !important;
      text-align: center;
      border-radius: 25px !important;
    }

    .p-inputtext:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
  }
}

.conteudo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.conteudo-saldo {
  display: flex;
  justify-content: space-between;
}

.card-saldo {
  width: 25%;

  .p-card {
    width: 100%;
  }
}

.linha {
  display: flex;
  justify-content: space-between;
}

.card-grafico-rosca {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;

  .grafico {
    width: 98%;
  }

}

@media screen and (max-width: 1370px) {
  .linha {
    display: block;
    justify-content: space-between;
  }

  .card-grafico-rosca {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .grafico {
      width: 98%;
    }

  }
}
