<div class="transacoes">
  <p-card header="{{ getNomeMes(valorSelecionado) }}" align="center">
    <div class="transacoes">
      <form [formGroup]="form" class="form">
        <p-calendar
          view="month"
          formControlName="mes"
          dateFormat="mm"
          dataType="string"
          [readonlyInput]="true"
          (onSelect)="onDateSelect($event)"
        ></p-calendar>
      </form>
    </div>
  </p-card>
</div>

<div class="transacoes">
  <p-card>
    <app-saldo [mes]="valorSelecionado"></app-saldo>
  </p-card>
</div>
<div class="transacoes">
  <p-card>
    <p-tabView (onChange)="switchHeaders($event)" [(activeIndex)]="tabIndex">
      <p-tabPanel header="Transações">
        <p *ngIf="activeTab == 0">
          <app-transacoes-lista
            [valorSelecionado]="valorSelecionado"
            [filtro]="''"
          ></app-transacoes-lista>
        </p>
      </p-tabPanel>
      <p-tabPanel header="Despesas">
        <p *ngIf="activeTab == 1">
          <app-transacoes-lista
            [valorSelecionado]="valorSelecionado"
            [filtro]="'despesa'"
          ></app-transacoes-lista>
        </p>
      </p-tabPanel>
      <p-tabPanel header="Receitas">
        <p *ngIf="activeTab == 2">
          <app-transacoes-lista
            [valorSelecionado]="valorSelecionado"
            [filtro]="'receita'"
          ></app-transacoes-lista>
        </p>
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>
