.body {
  position: relative;
  margin: 0px 3%;
}

.botaoAdd {
  position: fixed;
  right: 25px;
  bottom: 25px;

}

.header {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.conteudo-saldo {
  display: flex;
  justify-content: space-between;
}

.card-saldo {
  width: 25%;

  .p-card {
    width: 100%;
  }
}

.linha {
  display: flex;
  justify-content: space-between;
}

.card-grafico-rosca {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;

  .grafico {
    width: 98%;
  }

}

.card-grafico-barra {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .grafico {
    width: 98%;
  }

  .conteudo-card {
    display: flex !important;
  }

  .texto {
    display: flex;
    justify-content: space-between;
    width: 50%;

    p {
      padding: 5px 20px;
      width: 100%;
    }
  }
}
