<div class="transacoes">
  <mat-card>
    <mat-card-content class="meses">
      <!-- month-carousel.component.html -->
      <button mat-button (click)="onPrevious()" [disabled]="counter===0">
        <mat-icon class="mat-18">arrow_back_ios</mat-icon></button>
      <div [@animSlider]="counter">
        <ng-container *ngFor="let a of list; let i=index">

          <div *ngIf="i===counter">
            {{a.name}}
          </div>

        </ng-container>
      </div>
      <button mat-button (click)="onNext()" [disabled]="this.counter == this.list.length - 1"><mat-icon
          class="mat-18">arrow_forward_ios</mat-icon></button>
    </mat-card-content>
  </mat-card>
</div>


<div class="transacoes">
  <mat-card>
    <mat-card-content>
      <app-saldo [mes]="valorSelecionado"></app-saldo>
    </mat-card-content>

  </mat-card>
</div>
<div class="transacoes">
  <mat-card>

    <mat-card-content>
      <mat-tab-group animationDuration="200ms" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Todas Transações"><app-transacoes-lista
            [valorSelecionado]="valorSelecionado"></app-transacoes-lista>
        </mat-tab>
        <mat-tab label="Despesas">
          <app-despesa-lista [valorSelecionado]="valorSelecionado"></app-despesa-lista>
        </mat-tab>
        <mat-tab label="Receitas">
          <app-receitas-lista [valorSelecionado]="valorSelecionado"></app-receitas-lista>
        </mat-tab>
      </mat-tab-group> </mat-card-content>

  </mat-card>
</div>
